<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-6">
    <h3> Salas disponíveis </h3>
    <hr>
    <div class="list-group">
        <% if @available_rooms.size != 0 %>
    	   	<% @available_rooms.each do |available_room| %>
    	  		<%= link_to(
    		        available_room.nickname,
    		        room_path(available_room.id),
    		        {class: "list-group-item"}
    		    )%>
            <% end %>
      <% else %>
        <div class="alert alert-info">Não há salas disponíveis.</div>
	   	<% end %>
	</div>
  </div>
</div>
